<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Rovensal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/' || activeRoute === '/home'"
                        aria-current="page" href="">Home</a>
                </li>               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Entregas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/alcalde">Alcalde</a></li>
                        <li><a class="dropdown-item" href="/alcanyiz">Alcanyiz</a></li>
                        <li><a class="dropdown-item" href="/alfonso">Alfonso</a></li>
                        <li><a class="dropdown-item" href="/calinescu">Calinescu</a></li>
                        <li><a class="dropdown-item" href="/castanyera">Castanyera</a></li>
                        <li><a class="dropdown-item" href="/contreras">Contreras</a></li>
                        <li><a class="dropdown-item" href="/fernandez">Fernandez</a></li>
                        <li><a class="dropdown-item" href="/garcia">Garcia</a></li>
                        <li><a class="dropdown-item" href="/pallas">Pallas</a></li>
                        <li><a class="dropdown-item" href="/palomares">Palomares</a></li>
                        <li><a class="dropdown-item" href="/pavon">Pavon</a></li>
                        <li><a class="dropdown-item" href="/reyna">Reyna</a></li>
                        <li><a class="dropdown-item" href="/salinas">Salinas</a></li>
                        <li><a class="dropdown-item" href="/sempertegui">Sempertegui</a></li>
                        <li><a class="dropdown-item" href="/silvestre">Silvestre</a></li>
                        <li><a class="dropdown-item" href="/soares">Soares</a></li>
                        <li><a class="dropdown-item" href="/uski">Uski</a></li>
                        <li><a class="dropdown-item" href="/zanon">Zanon</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>